# Ignorar tudo
*

# Exceções específicas
!IthakaJogo/
!IthakaJogo/Ithaka/
!IthakaJogo/Ithaka/personagens/
!IthakaJogo/Ithaka/personagens/**
!IthakaJogo/Ithaka/cenarios/
!IthakaJogo/Ithaka/cenarios/**
!IthakaJogo/Ithaka/main.c

# Não ignorar a solução e configurações da solução
!/IthakaJogo.sln
!IthakaJogo/Ithaka.vcxproj.filters
!IthakaJogo/Ithaka.vcxproj