# Ignorar tudo
*

# Exceções específicas
!IthakaJogo/
!IthakaJogo/Ithaka/
!IthakaJogo/Ithaka/imagensJogo/
!IthakaJogo/Ithaka/imagensJogo/**
!IthakaJogo/Ithaka/main.c

# Não ignorar a solução e configurações da solução
!/IthakaJogo.sln
!IthakaJogo/Ithaka.vcxproj.filters
!IthakaJogo/Ithaka.vcxproj